.body {
    padding-top: 15rem;
    padding-bottom: 2rem;

    .title {
        margin-bottom: 2rem;
    }

    .content {
        margin-bottom: 2rem;
    }

    .btn {
        font-size: 2rem;
        color: #900;
        cursor: pointer;
    }
}