@import "./vars.scss";

.body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: $black;
    border: 2px solid $white;
    padding: 2.5rem 2rem;
    border-radius: 1rem;

    @media (max-width: #{$md1 + px}) {
        width: 70%;
    }

    @media (max-width: #{$md2 + px}) {
        width: 95%;
    }

    .content {
        margin: 0 auto;
        width: 70%;

        @media (max-width: #{$maxWidth + px}) {
            width: 80%;
        }

        @media (max-width: #{$md2 + px}) {
            width: 100%;
            // padding: 2.5rem 3rem;
        }
    }

    .link {
        color: $yellow;
    }

    .form {
        width: 80%;
        height: 4rem;
        border: 1px solid $white;
        display: flex;
        align-items: center;
        margin: 1.5rem auto 0;
        border-radius: 1rem;
        padding: 0 1rem;

        @media (max-width: #{$maxWidth + px}) {
            width: 100%;
        }

        @media (max-width: #{$md3 + px}) {
            padding: 0 .5rem;
        }

        .fix__input {
            margin: 0;
            padding: 0;
            border: none;
            height: 100%;
            padding: 0 1rem;
            margin-left: 1rem;
            flex: 1 1 auto;
            font-size: 1.4rem;
            color: $white;
            background: transparent;

            &::placeholder {
                font-size: 1.4rem;
                color: $white;
            }

            &:active,
            &:focus {
                outline: none;
            }
            
            @media (max-width: #{$md3 + px}) {
                padding: 0 .5rem;
            }
        }
    }

    .submit {
        color: $white;
        font-size: 1.2rem;
        align-self: center;
        line-height: 2.4rem;

        @media (max-width: #{$md3 + px}) {
            
            & svg {
                display: none;
            }
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reload {
        margin-top: 2rem;
        font-size: 1.8rem;
        color: $yellow;
    }
}