@import "./vars.scss";

.tracks {
    padding-bottom: 8rem;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;

    @supports (-webkit-backdrop-filter: blur(62px)) or (backdrop-filter: blur(62px)) {
        .body {
            background: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(62px);
        }
    } 

    &:before {
        content: "";
        width: 40%;
        min-width: 25rem;
        // border: 1px solid $white;
        height: 1px;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
    }

    @media (max-width: #{$md2 + px}) {
        padding: 4rem 0;
    }

    @media (max-width: #{$md3 + px}) {
        padding: 2rem 0;
    }

    .body {
        padding: 3.1rem 9rem;   
        border-radius: 2rem;  
        
        @media (max-width: #{$md2 + px}) {
            padding: 4rem 4.5rem;
        }

        @media (max-width: #{$md3 + px}) {
            padding: 0 1rem 2rem;
        }
    }
  
    .tracks__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;

        @media (max-width: #{$md2 + px}) {
            font-size: 3rem;
        }

        @media (max-width: #{$md3 + px}) {
            
        }
    }

    .list {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;

        @media (max-width: #{$md2 + px}) {
            margin-top: 2rem;
        }

        @media (max-width: #{$md3 + px}) {
            margin-top: 1.5rem;
        }
    }

    .item {
        background: linear-gradient(180deg, #1F1F1F 0%, #242424 100%);
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        display: flex;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        @media (max-width: #{$md3 + px}) {
            &:not(:last-child) {
                margin-bottom: 2.5rem;
                padding: 1rem;
            }
        }
    }

    .item__active {
        box-shadow: 0 0 .7rem $yellow;
    }

    .img {
        padding-bottom: 7.7rem;
        flex: 0 0 7.7rem;
        border-radius: 2rem;
        cursor: pointer;

    }

    .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 2rem;

        @media (max-width: #{$md3 + px}) {
            padding-left: 1rem;
        }
    }

    .track__header {
        display: flex;
        justify-content: space-between;
    }

    .track__title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 116%;
        cursor: pointer;

        @media (max-width: #{$md2 + px}) {
            font-size: 1.8rem;
        }

        @media (max-width: #{$md3 + px}) {
            font-size: 1.4rem;
        }
    }

    .track__subtitle {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 116%;
        color: $gray;

        @media (max-width: #{$md2 + px}) {
            font-size: 1.4rem;
        }
    }

    .controll {
        display: flex;
        justify-content: space-between;
    }

    .button__right {
        display: flex;
        margin-left: 3rem;
        position: relative;
    }

    .text {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 116%;
        margin-top: .5rem;

        @media (max-width: #{$md3 + px}) {
            font-size: 1rem;
        }
    }
}