$yellow: #F2D22B;
$black: #000;
$white: #fff;
$gray: #7C7C7C;

$minWidth: 375px;
$maxWidth: 1512;
$maxWidthContainer: 940;
$md1: $maxWidthContainer + 12;
$md2: 834;
$md3: 767.98;
$md4: 479.98;
// $md4: 375;